*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgreen;
}
/* navbar css */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 100vw;
    min-width: 200px;
    width: 100%;
    padding: 10px;
    background-color: rgb(40, 119, 150);
}
#logo{
    border: 1px solid;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    border: 1px solid;
    &>a{
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
    }
}

/* todo form css */
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
    gap: 20px;
    background-color: teal;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.input, .submitBtn{
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}